<p>Nombre del empleado: {{nombre}}</p>

<p>Apellido del empleado: {{apellido}}</p>

<!--<p>Edad del empleado: {{edad<18 ? "Menor de edad" : "Mayor de edad"}}</p>-->

<p>Edad del empleado: {{edad.value + " - " + mostrarEdad(edad.value)}}</p>

<p>Empresa del empleado: {{empresa.value}}</p>

Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro"/>

<br>
<br>

Introduce la edad: <input type="text" #edad (keyup)="0"/>

<br>
<br>
<p>{{textoDeRegistro}}</p>
Registrado: <input type="radio" value="si" name="nRegistro" id="registro" [checked]="usuarioRegistrado" (click)="setUsuarioRegistrado($event)"/>
<br>
No Registrado: <input type="radio" value="no" name="nRegistro" (click)="setUsuarioRegistrado($event)"/>

{{getRegistroUsuario()}}



<!--//<input type="button" value="Aceptar" (click)="llamaEmpresa(empresa.value)"/>-->
